body {
   
   font-family: arial;
}

#dropzone {
   width: 300px;
   padding: 80px 20px;
   margin: auto;
   vertical-align: middle;
   text-align: center;
   background-color: #eee;
   border: 3px dashed #000;
   font-weight: bold;
}

#dropzone.hover {
    border: 3px solid #12f;
    color: #12f;
}