body {
   
   font-family: arial;
}

#dropzone {
   width: 300px;
   padding: 80px 20px;
   margin: auto;
   vertical-align: middle;
   text-align: center;
   background-color: #eee;
   border: 3px dashed #000;
   font-weight: bold;
}

#dropzone.hover {
    border: 3px solid #12f;
    color: #12f;
}

#output {
   font-family: monospace;
   font-size: 10px;
   width: 500px;
   background-color: #00b;
   color: #eee;
   border: 1px solid #000;
   margin: auto;
   transition: height 0.2s;
   padding: 4px;
   display: none;
}